html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    height: 100%;
}

body {
    min-height: 100%;
}

main {
    flex: 1;
}

h1, h2 {
    color: #222;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4f9;
}

.header {
    background: linear-gradient(to bottom, #28ce8b, #10ab8d);
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #01d0a7;
    border-radius: 5px;
}

.profile-image {
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
    max-width: 200px;
    height: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 auto;
    width:30rem;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #28ce8b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #10ab8d;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #28ce8b, #10ab8d);
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: center;

}


.footer a {
    color: #0073e6;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.about-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 2rem auto; 
}

.big-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    
    max-width: 800px;
    margin: 2rem auto; 
}

.skills-box {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .skill {
    margin-bottom: 20px;
  }
  
  .skill p {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  
  .skill-bar {
    width: 100%;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    position: relative;
  }
  
  .skill-level {
    height: 100%;
    background: #28a745;
    border-radius: 5px 0 0 5px;
    transition: width 0.5s ease-in-out;
  }
  
  .skill span {
    display: inline-flex; /* Asegura una alineación adecuada */
    align-items: center;
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
  }
  
  .skill span svg {
    height: 1.5rem; /* Cambia el tamaño del ícono */
    width: 1.5rem;
    fill: lightblue; /* Cambia el color del ícono según el texto */
  }

  .footer a{
    color: whitesmoke;
    padding: 0px 3px 0px 3px;

  }